$dark-blue: #000046;
$light-blue: #1CB5E0;
$full-red: #cc1425;
$light-red: #dc3545;

.header-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;

}


.shiny-output-error-validation {
  color: $dark-blue;
  font-size: 22px;
}


.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.awesome-checkbox {
  margin-left: 15px !important;
  margin-right: 15px !important ;
}

.flex-col {
  flex-direction: column;
}


.control-label {
  font-size: 18px;
}