.header-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;

}


 .main-sidebar {
  background-color: #f4b943;
}
                                
                                
